{
  "tabWidth": 2,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "always",
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false
}
